@page "/"
@using Referral.BackEnd.Interfaces
@using Referral.Models


@inject IDep _Dep
@inject IJSRuntime _js
@inject IWebHostEnvironment _env
@inject IEmp _Emp




<h4 style="font-family:Almarai;color:darkblue;">
    <center>
        <b>
            نظام الاجازات المرضية/ المركز الصحي
        </b>
    </center>
</h4>
<br />



<div style="font-family:Almarai;border:solid;padding:20px;background-color:whitesmoke;border-color:darkblue; border-radius:10px">
    <EditForm OnSubmit="SaveData" dir="rtl" Model="EmpData">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
            <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 row-cols-1" >
                <div class="col" >
                    <label>اسم المريض</label>
                    <input @bind-value="@EmpData.EmpFullName" type="text" placeholder="الاسم الكامل..." class="form-control" />
                </div>
                <div class="col">
                    <label>القسم</label>
                    @* <select @bind="EmpData.EmpDep" class="form-control"> *@

                    <select @bind="@EmpData.EmpDep" class="form-control">
                        <option>اختر القسم من القائمة...</option>
                        @foreach (var item in ListofDepts)
                        {
                            <option value="@item.Id">@item.DepName</option>
                        }
                    </select>
                </div>
                @* <div class="col">
                    <label>الدائرة</label>
                    <select class="form-control">
                        <option selected>اختر الدائرة...</option>
                        <option>مكتب السيد الوزير</option>
                        <option>مكتب السيد الوكيل</option>
                        <option>مكتب السيد المستشار</option>
                        <option>دائرة التخطيط والمتابعة</option>
                        <option>الدائرة الادارية والمالية</option>
                        <option>الدائرة القانونية والعقود</option>
                    </select>
                </div> *@
                <div class="col">
                    <label>تاريخ الاجازة من...</label>
                    <input @bind-value="@EmpData.DateFrom" type="date" placeholder="من..." class="form-control" />
                </div>
                <div class="col">
                    <label>تاريخ انتهاء الاجازة...</label>
                    <input @bind-value="@EmpData.DateTo" type="date" placeholder="الى..." class="form-control" />
                </div>
            </div>
            <br />
            <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-1" >
                <div class="col">
                    <label>الاحــالة...</label>
                    <textarea @bind="EmpData.RefNote" class="form-control" rows="3"></textarea>
                    @*<input type="text" placeholder="الملاحظات..." class="form-label"/>
                    *@
                </div>
                <div class="col">
                    <label>الملاحظات...</label>
                    <textarea @bind="@EmpData.Notes" class="form-control" rows="3"></textarea>
    @*                <input type="text" placeholder="الملاحظات..." class="form-label"/>
    *@      
                </div>
            </div>
            <br />
         
            <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-1">
                <div class="col">
                <label>صورة العيادة المرضية...</label>
                <InputFile accept=".jpg,.jpeg,.pdf,.png,.tif" class="form-control" OnChange="CheckFile"></InputFile>
                </div>
                



              @*   <div class="col">
                    <label >صورة العيادة المرضية...</label>
                    <input @bind-value="@EmpData.RefImagePath" class="form-control" type="file"  >
                </div> *@

              @* multiple *@

                <div class="col">
                    <label>تاريخ التحديث...</label>
                    <input @bind-value="@EmpData.UpdateDate" type="date" id="currentDateInput" name="currentDateInput" class="form-control" readonly />
                </div>
           
            </div>

           
            <br />
            <button type="submit" class="btn btn-outline-primary form-control">حفظ البيانات</button>
        </EditForm>
</div>



@code{

    public List<DepModel> ListofDepts { get; set; } = new List<DepModel>();
    public DepModel NewDep = new DepModel();
    public ReferralModel EmpData { get; set; } = new ReferralModel();

    public InputFileChangeEventArgs UploadedRefImage { get; set; }


    protected async override Task OnInitializedAsync()
    {
        ListofDepts = await _Dep.GetAllDepts();
        EmpData.UpdateDate = DateTime.Now;
        EmpData.DateFrom = DateTime.Now;
        EmpData.DateTo = DateTime.Now;



    }

    private async Task SaveData()
    {
        var UserResponse = await _js.InvokeAsync<bool>("confirm","هل تود حفظ بيانات المريض؟");
        if (UserResponse)
        {
            var CheckUserExists = await _Emp.CheckIfUserExistsInDB(EmpData.RefImagePath);
            if (CheckUserExists is true)
            {
                await _js.InvokeVoidAsync("alert", "هذا القيد موجود مسبقاً");
                EmpData = new ReferralModel();
                EmpData.DateFrom = DateTime.Now;
                EmpData.DateTo = DateTime.Now;
                EmpData.RefImagePath = "";
            }
            else
            {
                EmpData.RefImagePath = await UploadRefImageToFileSystem();
                var BackEndResponse = await _Emp.AddNewRefToSystem(EmpData);
                await _js.InvokeVoidAsync("alert", BackEndResponse);
                EmpData = new ReferralModel();
                EmpData.DateFrom = DateTime.Now;
                EmpData.DateTo = DateTime.Now;
                EmpData.RefImagePath = "";

            }
        }
    }

    private async Task CheckFile(InputFileChangeEventArgs UploadedFile)
    {
        if (UploadedFile.File.ContentType == "image/jpg" || UploadedFile.File.ContentType == "image/jpeg" 
        || UploadedFile.File.ContentType == "image/png" || UploadedFile.File.ContentType == "image/pdf" 
        || UploadedFile.File.ContentType == "image/tif")
        {
            if (UploadedFile.File.Size > 2000000)
            {
                await _js.InvokeVoidAsync("alert", "حجم الصورة اكبر من 2MB ... يرجى تقليل حجم الصورة");
            }
            else
            {
                await _js.InvokeVoidAsync("alert", "تم رفع الصورة...");
                // EmpData.RefImagePath = await UploadRefImageToFileSystem();
                UploadedRefImage = UploadedFile;
                // FirstUImage = UploadedFile;
            }
        }
        else
        {
            await _js.InvokeVoidAsync("alert", "يجب ان تكون صيغة الصورة .jpg او .jpeg او .png");
            return;
        }
    }

    private async Task<string> UploadRefImageToFileSystem()
    {
        var FileName = UploadedRefImage.File.Name + "_" + Guid.NewGuid().ToString() + $"{UploadedRefImage.File.Name}";

        var FolderPath = $"{_env.WebRootPath}\\RefImages";

        var FullPath = Path.Combine(FolderPath, FileName);

        var MemoryStream = new MemoryStream();

        await UploadedRefImage.File.OpenReadStream(2000000).CopyToAsync(MemoryStream);

        await using (var fs = new FileStream(FullPath, FileMode.Create, FileAccess.Write))
        {
            MemoryStream.WriteTo(fs);
        }

        return FullPath;



    }



    

}
   
